<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <h5>Add New Post</h5>
    <%= form_for @post do |f| %>
      <%= f.text_field :content %>
      <%= f.submit  "new Post"%>
    <% end %>
    <br>

    <% @posts.each do |post| %>
      <tr id = "posts">
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('input[type="submit"]').on('click', event => {
    event.preventDefault()
  })
</script>
